extend layout
block content
    header
        a(href="index.jade")
            img(src="Headernewf.png" alt="Header")
        nav(id="main_nav")
            ul
                li
                    a(href="index.jade")
                        b Home
                li
                    a(href="projects.jade")
                        b Projects
                li
                    a(href="aboutme.jade")
                        b About Me
                li
                    a(href="signup.jade")
                        b Sign Up
                li
                    a(href="login.jade")
                        b Log In
    div(class="Content")
        div(class="content-header")
            h2 About Me
        div(class="content-body")
            h2 Personal Details
            b Name
            a Paulus Angkodjojo<br>
            b Student Number:
            a 21972051<br>
            b Unit:
            a CITS3403 Agile Web Development
            h2 References
            p
                b Used for header backgrounds
            a https://www.w3schools.com/
            a http://teaching.csse.uwa.edu.au/units/CITS3403/index.php?fname=lectures
            p
                b Both used to help with html, ccs and javascript
            a http://teaching.csse.uwa.edu.au/units/CITS3403/index.php?fname=projects&project=yes
            p
                b Used for project specifications
            a https://validator.w3.org/
            p
                b Used to validate html
    footer
        div(id="left-footer")
            ul
                li
                    a(href="index.jade") Home
                li
                    a(href="projects.jade") Projects
                li
                    a(href="aboutme.jade") About Me
        div(id="right-footer")
            ul
                li
                    a(href="signup.jade") Sign up
                li
                    a(href="login.jade") Log in
                li
                    a Terms and Conditions
        div(id="Date")

                    