extend layout
block content
    header
        a(href="/index")
            img(src="Headernewf.png" alt="Header")
        nav(id="main_nav")
            ul
                li
                    a(href="/index")
                        b Home
                li
                    a(href="/projects")
                        b Projects
                li
                    a(href="/aboutme")
                        b About Me
                li
                    a(href="/signup")
                        b Sign Up
                li
                    a(href="/login")
                        b Log In
    div(class="Content")
        div(class="content-header")
            h2 Log In
        div(class="content-body")
            form(onsubmit="return(UserValidate())")
                div(class="Form")
                    label
                        b Username: <br>
                    input(type="text" id="Username" placeholder="EnterUsername" required)
                    label
						b <br>Password:<br>
                    input(type="password" id="Password" placeholder="EnterPassword" required)
                    p(id="PasswordError" class="InputError")
                    label
						b Remember Me
                    input(type="checkbox" checked="checked")
                    button(type="submit") Log In
    footer
        div(id="left-footer")
            ul
                li
                    a(href="/index") Home
                li
                    a(href="/projects") Projects
                li
                    a(href="/aboutme") About Me
        div(id="right-footer")
            ul
                li
                    a(href="/signup") Sign up
                li
                    a(href="/login") Log in
                li
                    a Terms and Conditions
        div(id="Date")

                    